.html-viewer-page {
  height: calc(100vh);
  overflow: hidden;
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.html-viewer-page > div {
  direction: rtl;
  overflow: auto;
  width: calc(100% - var(--padding) - var(--padding));
  padding: var(--padding);
}
.html-viewer-page table {
  border-collapse: collapse;
  max-width: 1240px;
}
.html-viewer-page table td {
  border: 1px solid black;
  white-space: nowrap;
}

.html-viewer-page textarea {
  width: calc(100% - 48px);
  border: 0;
  padding: 24px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  word-spacing: 0px;
  font-weight: bold;
  line-height: 44px;
}
.html-viewer-page textarea.footer {
  font-size: 18px;
  line-height: 36px;
}

.docx-table {
  width: 100%;
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.docx-table th {
  border: 1px solid black;
  padding: 8px 0;
}